
@font-face {
  font-family: "carolingia";
  src: local('carolingia'),url("fonts/carolingia.ttf");
}
@font-face {
  font-family: "crom";
  src: local('crom.regular'),url("fonts/crom.regular.ttf");
}
@font-face {
  font-family: "Roman_SD";
  src: local('Roman_SD'),url("fonts/Roman SD.ttf");
}
@font-face {
  font-family: "DOMINICA";
  src: local('DOMINICA'),url("fonts/DOMINICA.TTF");
}
@font-face {
  font-family: "MorrisRomanAlternate";
  src: local('MorrisRomanAlternate-Black'),url("fonts/MorrisRomanAlternate-Black.ttf");
}
@font-face {
  font-family: "MorrisRomanAlternate";
  src: local('MorrisRoman-Black'),url("fonts/MorrisRoman-Black.ttf");
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#global {
  overflow:auto;
  border:1px solid black;
}
#gauche {
  float:left;
  width:40%;
  border:1px solid black;
}
#droit {
  overflow:auto;
  border:1px solid black;
}
#bgCanvasAuxilliaire{
  border:1px solid red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
